.error{
    color:red;
}
body {
   width:98%;
   margin:10px auto; 
}
h2{
    color: #888;
}
input[type="submit"]{
    border-radius: 0;
    background-color:#337ab7;
    margin-top:5px;
    border:1px solid transparent;
    color:#fff;
    padding:6px 10px;
    box-sizing: border-box;
    border-radius:3px;
    cursor: pointer;

}
@media screen and (min-width: 876px) {
    body{
        width:50%;
    }
    .mob{
        display:none;
    }
}